## Scala Default ignore

*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Intellij Project
.idea
.idea_modules
atlassian-ide-plugin.xml

# Eclipse Project
.project
.settings
.metadata

# for Mac
.DS_Store

# Ctags
tags

*.dfmark

.cache
.classpath
.bigquery
